body{
    background-color: #638a79;
    background-image: url("img/body-bg.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    font-family: Arial;
    font-size: 13px;
    color: #333;
    line-height: 18px;
}

.content {
    width: 840px;
    padding: 20px 30px;
    background-color: #fff;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;        
}

.content .content-top { 
    height: 12px;
    background-position:0 0;
}

.content .content-bottom {
    height: 12px;
    background-position: -840px 0;
}
.content .content-middle {
    margin: 20px 30px 20px 30px;
}
	
h1 { 
    font-size: 26px;
    line-height: 36px;
    color:#2b8c57;
    font-weight: normal;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    line-height: 28px;
    color:#2b8c57;
    font-weight: normal;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 15px; 
}
	
div.block-1 {
    background-color: #2b8c57;
    background-image: url("img/block-1-bg.png");
    background-repeat: repeat-x;
    font-size: 12px;
    color:white;
    font-style: italic;
    padding: 20px 30px;
}

div.block-2 {
    font-size: 12px;
    color: white;
    font-style: italic;
    padding: 20px 30px;
    background-color: #356149;
    background-image: url("img/picture-1.png"); 
    background-repeat: no-repeat;
    background-position: bottom right;
}

a.button {
    background-image: url("img/button-1.png");
    display: block;
    width: 121px;
    height: 38px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 0 0;
}
a.button:hover {
    background-position: 0 -38px;
}
a.button:active {
    background-position: 0 -55px;
}